<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='patient_page.css')}}">
    </head>
    <body>
        <h1>This is the Patient Page</h1>
        <p></p>
        <img src="https://import.cdn.thinkific.com/266084/XD4qq4VeQQCJWSHtspdm_20041741-%20Center%20for%20Teaching%20and%20Learning%20in%20Community%20Logo_White.png" alt="The Earth!">
        <p></p>
        <button>Click Me too!</button>
        <p>Here is the patient page</p>
    </body>
</html>